<app-header> </app-header>



<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- Contenido del contenedor fluido aquí -->
      <br><br>
      <style>
        .btn-orange {
          background-color: rgb(255, 51, 0);
          color: white;
          margin-bottom: 2px;
        }

        .btn-orange:hover {
          background-color: rgba(226, 133, 72, 0.966);
        }

      </style>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-orange btn-lg btn-block" (click)="gestionEmpleado()">Gestion De Empleados</button>
        <button type="button" class="btn btn-orange btn-lg btn-block" (click)="solicitudEmpleado()" >Solicitud De Vacaciones</button>
      </div>
      <br>
    </div>
    <div class="col-8">
      <img src="../assets/favicon-Bebolder.png" alt="Imagen" style="width: 55%; height: 90%;">
    </div>
  </div>
</div>

<app-footer> </app-footer>